# Virtuoso files /data/db
/data/publication-triplestore/*
/data/db/*
/data/exports/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*
/data/files/*
.DS_Store
*~

!/tmp/

docker-compose.override.yml

/.idea
/.idea/*

.htpasswd
.env
data-backup
/tests/docker-compose.tests.latest.override.yml
/tests/docker-compose.tests.development.override.yml
/tests/all-reports/

node_modules
migration-scripts/**/migration-results/
/migration-scripts/tests-shacl/dist/
