services:

  lpdc:
    restart: "no"

  mocklogin:
    image: lblod/mock-login-service:0.4.0

  login-lpdc:
    restart: "no"

  impersonation:
    restart: "no"

  login-dashboard:
    restart: "no"

  identifier:
    ports:
      - "90:80"
    restart: "no"

  dispatcher:
    restart: "no"

  database:
    restart: "no"

  virtuoso:
    ports:
      - "8890:8890"
    restart: "no"

  deltanotifier:
    restart: "no"

  migrations:
    volumes:
      - ./config/dev-migrations:/data/migrations/dev/
    restart: "no"

  cache:
    restart: "no"

  resource:
    restart: "no"

  sink:
    restart: "no"

  update-bestuurseenheid-mock-login:
    restart: "no"

  ################################################################################
  # Report generation and dashboard specific services
  ################################################################################

  dashboard:
    restart: "no"
  
  report-generation:
    restart: "no"
  
  file:
    restart: "no"

  db-cleanup:
    restart: "no"

  ################################################################################
  # LPDC-specific services
  ################################################################################

  lpdc-management:
    restart: "no"

  lpdc-publish:
    restart: "no"

  ldes-consumer-conceptsnapshot-ipdc:
    restart: "no"

#  feedback-available-flag-service:
#    environment:
#      HEALING_CRON: '*/3 * * * *'
#      DEBUG: true
#    restart: "no"


  ################################################################################
  # Consumers
  ################################################################################

  op-public-consumer:
    restart: "no"
